.SpeechBubble {
    background-image-slice: 10 15 10 10;
    background-repeat: stretch;
    background-size: cover;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    border-radius: 5px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.CakeImage {
    width: 50px;
    height: 50px;
}
